.save-btn__image {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 28px;
    color: var(--btn-text-color);
    height: 28px;
    z-index: 2;
    position: relative;
    mix-blend-mode: difference;
}

@media (min-width: 500px) {
    .save-btn__image {
        width: 21px;
        height: 21px;
    }
}